In [1]:
import numpy as np
import pandas as pd

In [2]:
tabletrain = pd.read_csv("training_data.csv", delimiter = ';' )
table1 = pd.read_csv("zoo_data.csv", delimiter = ';')
tabletrain_attribute = tabletrain.drop(tabletrain.columns[[0,17]],axis = 1)
table1_attribute = table1.drop(table1.columns[[0,17]],axis = 1)
arraytrain_att = tabletrain_attribute.values
array1_att = table1_attribute.values
vector_length = arraytrain_att.shape[1]
cleaned_data = arraytrain_att

In [3]:
table1_name = table1.drop(table1.columns[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]],axis = 1)
array1_n = table1_name.values

In [4]:
groups = tabletrain.groupby('type')
number_of_classes = len(groups)
dictionary_of_sum = {}
number_of_features  = vector_length
sigma = 2
curr_row = 0
temp = 0
temp_sum = 0
classified_class = np.zeros((101,))

In [5]:
a=-1
for x in array1_att:
    a=a+1
    point_want_to_classify = x
    curr_row = 0
    for k in range(1,number_of_classes+1):

        dictionary_of_sum[k] = 0
        number_of_data_point_from_class_k = len(groups.get_group(k))


        temp_summnation = 0.0

        for i in range(1,number_of_data_point_from_class_k+1):

            for j in range(0,vector_length):
                temp = (point_want_to_classify[j] - cleaned_data[curr_row][j]) * (point_want_to_classify[j] - cleaned_data[curr_row][j])

                temp_sum = temp_sum+temp
            temp_sum = -1*temp_sum/( 2 * np.power(sigma,2) )

            temp_summnation = temp_summnation + temp_sum

            curr_row  = curr_row + 1

        dictionary_of_sum[k]  = temp_summnation
    classified_class[a] = int( max(dictionary_of_sum, key=dictionary_of_sum.get) )

In [6]:
dataset = pd.DataFrame({'Name':array1_n
                        [:,0],'Target':array1_n
                        [:,1],'Prediction':classified_class[:]})
dataset.iloc[0:102,:]

         Name Target  Prediction
0    aardvark      1         1.0
1    antelope      1         1.0
2        bass      4         6.0
3        bear      1         1.0
4        boar      1         1.0
5     buffalo      1         1.0
6        calf      1         1.0
7        carp      4         6.0
8     catfish      4         6.0
9        cavy      1         1.0
10    cheetah      1         1.0
11    chicken      2         1.0
12       chub      4         6.0
13       clam      7         6.0
14       crab      7         7.0
15   crayfish      7         7.0
16       crow      2         6.0
17       deer      1         1.0
18    dogfish      4         6.0
19    dolphin      1         6.0
20       dove      2         1.0
21       duck      2         6.0
22   elephant      1         1.0
23   flamingo      2         1.0
24       flea      6         7.0
25       frog      5         7.0
26       frog      5         7.0
27   fruitbat      1         1.0
28    giraffe      1         1.0
29       girl      1         1.0
..        ...    ...         ...
71       rhea      2         1.0
72   scorpion      7         7.0
73   seahorse      4         6.0
74       seal      1         6.0
75    sealion      1         1.0
76   seasnake      3         6.0
77    seawasp      7         6.0
78    skimmer      2         6.0
79       skua      2         6.0
80   slowworm      3         6.0
81       slug      7         6.0
82       sole      4         6.0
83    sparrow      2         1.0
84   squirrel      1         1.0
85   starfish      7         7.0
86   stingray      4         6.0
87       swan      2         1.0
88    termite      6         7.0
89       toad      5         7.0
90   tortoise      3         1.0
91    tuatara      3         1.0
92       tuna      4         6.0
93    vampire      1         1.0
94       vole      1         1.0
95    vulture      2         1.0
96    wallaby      1         1.0
97       wasp      6         7.0
98       wolf      1         1.0
99       worm      7         6.0
100      wren      2         1.0

[101 rows x 3 columns]