In [1]:
import pandas as pd
import numpy as np
table1 = pd.read_csv("zoo_data.csv", delimiter = ';')

In [2]:
table1_attribute = table1.drop(table1.columns[[0,17]],axis = 1)
table1_name = table1.drop(table1.columns
                          [[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]],axis = 1)
array1_n = table1_name.values
array1_att = table1_attribute.values
input_patterns = array1_att.shape[0]

In [3]:
from som.SOM import SOM

In [4]:
som = SOM(7,1,16)

In [5]:
som.train(array1_att,200,0.01)

C:\Users\ASUS\Desktop\Jupyter Lab\JST\som\SOM.py:20: RuntimeWarning: divide by zero encountered in double_scalars
  self.time_constant = n_epochs / np.log(self.init_radius)

In [6]:
def predict(df):
    a, b = som.find_bmu(df.values)
    df['group'] = b[0]
    return df
prediction = table1_attribute.apply(predict,axis=1)

In [7]:
prediction1 = prediction.drop(prediction.columns
            [[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]],axis = 1)
prediction2 = prediction1.values
dataset = pd.DataFrame({'Name':array1_n[:,0],
                        'Grouping':prediction2[:,0]})
dataset.iloc[:]

         Name  Grouping
0    aardvark         1
1    antelope         1
2        bass         6
3        bear         1
4        boar         1
5     buffalo         1
6        calf         1
7        carp         6
8     catfish         6
9        cavy         1
10    cheetah         1
11    chicken         5
12       chub         6
13       clam         6
14       crab         4
15   crayfish         3
16       crow         5
17       deer         1
18    dogfish         6
19    dolphin         6
20       dove         5
21       duck         5
22   elephant         1
23   flamingo         5
24       flea         3
25       frog         4
26       frog         4
27   fruitbat         0
28    giraffe         1
29       girl         0
..        ...       ...
71       rhea         5
72   scorpion         3
73   seahorse         6
74       seal         6
75    sealion         0
76   seasnake         6
77    seawasp         6
78    skimmer         5
79       skua         5
80   slowworm         6
81       slug         6
82       sole         6
83    sparrow         5
84   squirrel         0
85   starfish         3
86   stingray         6
87       swan         5
88    termite         3
89       toad         4
90   tortoise         4
91    tuatara         4
92       tuna         6
93    vampire         0
94       vole         1
95    vulture         5
96    wallaby         0
97       wasp         3
98       wolf         1
99       worm         6
100      wren         5

[101 rows x 2 columns]